# Visual Studio artifacts
bin
obj
*.user
*.suo
*.vsp
*.csproj.VisualState.xml
*.vbproj.VisualState.xml
*.cache
TestResults
.vs
project.lock.json
.vscode

# JetBrains Rider artifacts
.idea

# Mac OS artifacts
.DS_Store

# Resharper artifacts
_ReSharper.*

# Nuget artifacts
packages